---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="CV">
  <object class="w-full h-[600px] mb-8" data="/cv/cv.pdf">
    <p>Unable to display the PDF file.</p>
  </object>
  <div class="w-full text-center">
    <a class="btn text-sm" href="/cv/cv.pdf" download> Download CV</a>
  </div>
</PageLayout>
