---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="CV">
  <div class="mb-8">
    <iframe
      class="h-[700px] w-full"
      src={`https://drive.google.com/viewerng/
viewer?embedded=true&url=https://alcba.lesterong.com/cv/cv.pdf`}
      allow="autoplay"></iframe>
  </div>
  <div class="w-full text-center">
    <a class="btn text-sm" href="/cv/cv.pdf" download>Download CV</a>
  </div>
</PageLayout>
