---
import PageLayout from '../layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import SocialLinks from '../components/SocialLinks.astro';
const { data } = await getEntry('home', 'home');
---

<PageLayout title="Home">
  <div class="grid place-items-center min-h-[600px] sm:min-h-[400px] h-[calc(100vh-318px)] content-center">
    <div class="flex flex-col space-y-6 sm:flex-row sm:space-x-12 sm:space-y-0">
      <div class="shrink-0 w-64 mx-auto">
        <Image
          height="256px"
          width="256px"
          src={`/home/${data.imageUrl}`}
          alt="Yuhao Ba"
          class="rounded-full h-64 aspect-square object-cover bg-gray-400 animate-pulse"
          onload='this.classList.remove("animate-pulse")'
        />
        <p class="text-sm text-center mt-3">
          Assistant Professor at
          <a
            class="link"
            href="https://lkyspp.nus.edu.sg/our-people/faculty/ba-yuhao"
            rel="noreferrer noopener"
            target="_blank"
          >
            Lee Kuan Yew School of Public Policy
          </a>
        </p>
        <p class="text-sm text-center mb-5">National University of Singapore</p>
        <SocialLinks />
      </div>
      <div>
        <h2>{data.title}</h2>
        <p class="mt-3">
          {data.description}
        </p>
      </div>
    </div>
  </div>
</PageLayout>
