---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Research">
  <div class="grid place-items-center h-screen content-center">This is the research page.</div>
</PageLayout>
