---
import PageLayout from '../layouts/PageLayout.astro';

import { getEntry } from 'astro:content';
import CourseCard from '../components/CourseCard.astro';

const { data } = await getEntry('teaching', 'teaching');
const { philosophy, courses } = data;
---

<PageLayout title="Teaching">
  <h2 class="pt-8 mb-4">Teaching Philosophy</h2>
  <p>{philosophy}</p>
  <h2 class="mt-12 mb-4">Courses</h2>
  <div class="space-y-3 mb-8">
    {courses.map((c) => <CourseCard title={c.title} description={c.description} />)}
  </div>
</PageLayout>
