---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Teaching">
  <div class="grid place-items-center h-screen content-center">This is the teaching page.</div>
</PageLayout>
