---
import PageLayout from '../layouts/PageLayout.astro';

import { getEntry } from 'astro:content';
import CourseCard from '../components/CourseCard.astro';

const { data: courses } = await getEntry('teaching', 'teaching');
---

<PageLayout title="Teaching">
  <div class="space-y-3">
    {courses.map((c) => <CourseCard title={c.title} description={c.description} />)}
  </div>
</PageLayout>
