---
import PageLayout from '../layouts/PageLayout.astro';

import { getEntry } from 'astro:content';
import CourseCard from '../components/CourseCard.astro';

const entry = await getEntry('teaching', 'teaching');
if (!entry) {
  throw new Error('Could not find teaching');
}
const { data: courses } = entry;
---

<PageLayout title="Teaching">
  <div class="px-0 md:px-6">
    {courses.map((c) => <CourseCard type={c.type} year={c.year} title={c.title} school={c.school} />)}
  </div>
</PageLayout>
