---
import { SITE_NAME } from '../consts';
import Navbar from './Navbar.astro';
---

<header class="bg-[#000000] text-gray-500 h-[142px]">
  <img src={'/header1.jpg'} alt="header2" class="w-full h-full object-cover object-center opacity-40" />
  <div class="absolute w-full top-0">
    <h1 class="text-center py-8">
      <a href="/">{SITE_NAME}</a>
    </h1>
    <Navbar />
  </div>
</header>
