---
interface Props {
  label: string;
  link: string;
  opensNewTab?: boolean;
}

const { label, link, opensNewTab = false } = Astro.props;
---

<style>
  a {
    @apply py-1 px-2 text-xs text-blue-400 border border-blue-400 rounded-md hover:text-blue-300 hover:border-blue-300;
  }
</style>

<a href={link} target={opensNewTab ? '_blank' : '_self'} rel={opensNewTab ? 'noreferrer noopener' : ''}>
  {label}
</a>
