---
const currentPath = Astro.url.pathname;
---

<script>
  const navbar = document.querySelector('nav');

  if (navbar) {
    if (sessionStorage['navbar-scroll']) {
      navbar.scrollLeft = Number(sessionStorage['navbar-scroll']) || 0;
    }

    document.addEventListener('visibilitychange', () => {
      sessionStorage['navbar-scroll'] = navbar.scrollLeft;
    });
  }
</script>

<nav class="flex mx-auto max-w-4xl justify-start overflow-x-scroll">
  <a class={currentPath === '/' ? 'active' : ''} href="/">Home</a>
  <a class={/\/research(\/)?/.test(currentPath) ? 'active' : ''} href="/research/">Research</a>
  <a class={/\/teaching(\/)?/.test(currentPath) ? 'active' : ''} href="/teaching/">Teaching</a>
  <a class={/\/data(\/)?/.test(currentPath) ? 'active' : ''} href="/data/">Data</a>
  <a class={/\/team(\/)?/.test(currentPath) ? 'active' : ''} href="/team/">Team</a>
  <a class={/\/cv(\/)?/.test(currentPath) ? 'active' : ''} href="/cv/">CV</a>
</nav>
