---
interface Props {
  title: string;
  publication: string;
  authors: string;
  pdfUrl?: string;
}

const { title, publication, authors, pdfUrl } = Astro.props;
---

<div class="card">
  <div class="w-full flex justify-between items-start mb-2">
    <div>
      <p class="text-gray-300 italic text-sm">{publication}</p>
      <h3>{title}</h3>
    </div>
    {
      pdfUrl && (
        <a class="btn text-xs" href={`/research/${pdfUrl}`}>
          PDF
        </a>
      )
    }
  </div>
  <p>
    {authors}
  </p>
</div>
