---
import '../components/GlobalStyles.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_NAME } from '../consts';
import Header from '../components/Header.astro';
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="/_astro/karla-latin-wght-normal.fb90c9d9.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <title>{title} | {SITE_NAME}</title>
  </head>
  <body class="bg-gray-500 text-gray-100">
    <Header />
    <main class="container min-h-[calc(100vh-318px)] max-w-4xl mx-auto px-6 mb-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
