---
import SocialLinks from '../components/SocialLinks.astro';
import '../components/GlobalStyles.astro';
import Navbar from '../components/Navbar.astro';
const { title } = Astro.props;
const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | Yuhao Ba</title>
  </head>
  <body class="bg-gray-500 text-gray-100">
    <header class="bg-gray-100 text-gray-500">
      <h1 class="text-center py-6">
        <a href="/">Yuhao Ba</a>
      </h1>
      <Navbar />
    </header>
    <main class="container max-w-4xl min-h-[calc(100vh-170px)] mx-auto px-6">
      <slot />
    </main>
    <footer class="bg-white">
      <div
        class=`container px-6 mx-auto max-w-4xl flex ${currentPath === "/" ? "justify-center" : "justify-between" } items-center`
      >
        <p class="py-3 text-sm">&copy; 2023 Yuhao Ba</p>
        {currentPath !== '/' && <SocialLinks />}
      </div>
    </footer>
  </body>
</html>
